.homeDiv {
  background-color: #f3f2ef;
}
.HomeCont {
  padding-top: 100px;
  width: 800px;
}
.postImage {
  height: 300px;
  object-fit: cover;
}
.HomeModal {
  display: flex;
  justify-content: left;
}
.logoutbtn {
  width: 100%;
  height: 30px;

  background-color: transparent;
  border: none;
  transition: all 1s ease;
}

.list-group-flush > .list-group-item:last-child {
  background-color: transparent;
}
.list-group-flush > .list-group-item:last-child:hover {
  background-color: rgba(216, 9, 9, 0.164);
}
.crdTxtH {
  text-align: center;
  height: 100px;
}
.wlcmP {
  padding-top: 30px;
}
